:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 275px;
    background-color: var(--white);
    color: var(--dark-blue);
    border-radius: 1rem;
}

.card>img {
    padding: 1rem;
    border-radius: 2rem;
}

.card__body {
    padding-top: 0;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-align: center;
}

.card__title {
    font-weight: 700;
    font-size: 20px;
}

.card__instructions {
    font-weight: 400;
    font-size: 15px;
    opacity: .5;
}